gradio>=6.14.0

transformers

torch >= 2.11.0

gtts

click

IPython

soundfile

sentencepiece

matplotlib >= 3.7.1

tiktoken >= 0.5.1

tensorflow >= 2.18.0

tqdm >= 4.66.1

numpy >= 1.26

pandas >= 2.2.1

psutil >= 5.9.5

openai-whisper

styletts2

accelerate

trl==1.5.1

peft==0.14.0

huggingface_hub

torchao







